<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Artikel</title>
    </head>
    <body>
        <h1>Podrobnosti artikla</h1>
        <p>Sku: {{ artikel.sku }}</p>
        <p>Stil: {{ artikel.style }}</p>
        <p>Ime: {{ artikel.name }}</p>
        <p>Velikost: {{ artikel.size }}</p>
        <p>Proizvajalec: {{ artikel.manufacturer }}</p>
        <p>Kategorija: {{ artikel.category }}</p>
        <p>Cena: {{ artikel.price }}</p>
        <p>Ime 2: {{ artikel.name2 }}</p>
        <p>Barva: {{ artikel.colour }}</p>
        <p>Status: {{ artikel.status }}</p>
        <p>Material: {{ artikel.material }}</p>
        <p>Opis: {{ artikel.description }}</p>
        <p>Država izvora: {{ artikel.origin }}</p>

    </body>
    </html>