<!DOCTYPE html>
<html>
<head>
<title>Artikli</title>
</head>
<body>

<h1>ARTIKLI</h1>
<p>Tukaj si lahko pogledame vse artikle</p>

<fieldset>
    <legend>FILTRIRAJ</legend>

    <div>
      <input type="checkbox" id="sku" name="sku" checked>
      <label for="sku">SKU</label>
    </div>

    <div>
      <input type="checkbox" id="proizvajalcev_sku" name="proizvajalcev_sku">
      <label for="proizvajalcev_sku">Proizvajalčev SKU</label>
    </div>

    <div>
        <input type="checkbox" id="stil" name="stil">
        <label for="stil">Stil</label>
    </div>

    <div>
        <input type="checkbox" id="tip_barve" name="tip_barve">
        <label for="tip_barve">Tip barve</label>
    </div>

    <div>
        <input type="checkbox" id="tip_velikosti" name="tip_velikosti">
        <label for="tip_velikosti">Tip velikosti</label>
     </div>

     <div>
        <input type="checkbox" id="barva" name="barva">
        <label for="barva">Barva</label>
      </div>

      <div>
        <input type="checkbox" id="koda_barve" name="koda_barve">
        <label for="koda_barve">Koda barve</label>
      </div>

      <div>
        <input type="checkbox" id="ime_barve" name="ime_barve">
        <label for="ime_barve">Ime barve</label>
      </div>

      <div>
        <input type="checkbox" id="sortirni_red_barve" name="sortirni_red_barve">
        <label for="sortirni_red_barve">Sortirni red barve</label>
      </div>

      <div>
        <input type="checkbox" id="koda_proizvajalca" name="koda_proizvajalca">
        <label for="koda_proizvajalca">Koda proizvajalca</label>
      </div>
      
      <div>
        <input type="checkbox" id="cmyk" name="cmyk">
        <label for="cmyk">CMYK</label>
      </div>


      <div>
        <input type="checkbox" id="rgb" name="rgb">
        <label for="rgb">RGB</label>
      </div>

      <div>
        <input type="checkbox" id="europska_stevilka_artikla" name="europska_stevilka_artikla">
        <label for="europska_stevilka_artikla">Evropska številka artikla</label>
      </div>

      <div>
        <input type="checkbox" id="ime_proizvajalca" name="ime_proizvajalca">
        <label for="ime_proizvajalca">Ime proizvajalca</label>
      </div>

      <div>
        <input type="checkbox" id="stevilo_v_paketu" name="stevilo_v_paketu">
        <label for="stevilo_v_paketu">Število v paketu</label>
      </div>

      <div>
        <input type="checkbox" id="stevilo_v_kartonu" name="stevilo_v_kartonu">
        <label for="stevilo_v_kartonu">Število v kartonu</label>
      </div>

      <div>
        <input type="checkbox" id="velikost" name="velikost">
        <label for="velikost">Velikost</label>
      </div>

      <div>
        <input type="checkbox" id="status" name="status">
        <label for="status">Status</label>
      </div>

      <div>
        <input type="checkbox" id="teza" name="teza">
        <label for="teza">Teža</label>
      </div>

      <div>
        <input type="checkbox" id="ime_1" name="ime_1">
        <label for="ime_1">Ime</label>
      </div>

      <div>
        <input type="checkbox" id="ime_nemscina" name="ime_nemscina">
        <label for="ime_nemscina">Ime (Nemščina)</label>
      </div>

      <div>
        <input type="checkbox" id="ime_anglescina" name="ime_anglescina">
        <label for="ime_anglescina">Ime (Angleščina)</label>
      </div>

      <div>
        <input type="checkbox" id="ime_cescina" name="ime_cescina">
        <label for="ime_cescina">Ime (Češčina)</label>
      </div>



      <div>
        <input type="checkbox" id="opis_materiala_nemscina" name="opis_materiala_nemscina">
        <label for="opis_materiala_nemscina">Opis materiala (Nemščina)</label>
      </div>

      <div>
        <input type="checkbox" id="opis_materiala_anglescina" name="opis_materiala_anglescina">
        <label for="opis_materiala_anglescina">Opis materiala (Angleščina)</label>
      </div>

      <div>
        <input type="checkbox" id="opis_materiala_cescina" name="opis_materiala_cescina">
        <label for="opis_materiala_cescina">Opis materiala (Češčina)</label>
      </div>

      <div>
        <input type="checkbox" id="opis_artikla_nemscina" name="opis_artikla_nemscina">
        <label for="opis_artikla_nemscina">Opis artikla (Nemščina)</label>
      </div>

      <div>
        <input type="checkbox" id="opis_artikla_anglescina" name="opis_artikla_anglescina">
        <label for="opis_artikla_anglescina">Opis artikla (Angleščina)</label>
      </div>

      <div>
        <input type="checkbox" id="opis_artikla_cescina" name="opis_artikla_cescina">
        <label for="opis_artikla_cescina">Opis artikla (Češčina)</label>
      </div>


      <div>
        <input type="checkbox" id="stran_kataloga" name="stran_kataloga">
        <label for="stran_kataloga">Stran Kataloga</label>
      </div>

      <div>
        <input type="checkbox" id="cena" name="cena">
        <label for="cena">Cena</label>
      </div>

      <div>
        <input type="checkbox" id="izvor" name="izvor">
        <label for="izvor">Izvor</label>
      </div>

      <div>
        <input type="checkbox" id="vrsta" name="vrsta">
        <label for="vrsta">Vrsta</label>
      </div>

</fieldset>



</body>
</html>

<form action="/dodaj-igralca/" method="POST">
        <div class="input-field">
          <input type="text" name="ime" id="text">
          <label for="text" class="border-bottom-white"> Ime igralca </label>
          % if "ime" in napaka:
          <span class="helper-text yellow-text text-lighten-3">{{napaka["ime"]}}</span>

          % end
        </div>
        <button type="submit" class="btn-large light-green lighten-2 waves-effect">
          <h6><b>DODAJ</b> </h6>
        </button>
      </form>