<!DOCTYPE html>
<html>
<head>
    <title>Registracija</title>
</head>
<body>
    <h1>Registracija</h1>
    <form action="{{url('registracija')}}" method="post">
        <div>
            <label for="username">Uporabniško ime</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="role">Rola</label>
            <input type="text" id="role" name="role" required>
        </div>
        <div>
            <label for="password">Geslo</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <label for="confirm_password">Potrdi geslo</label>
            <input type="password" id="confirm_password" name="confirm_password" required>
        </div>
        <div>
            <input type="submit" value="Registracija">
        </div>
    </form>
    
    % if napaka:
    <p class="opozorilo">{{napaka}}</p>
    % end
</body>
</html>
