<!DOCTYPE html>
<html>

<head>
  <title>Zaloga</title>


  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


</head>

<body>



  <h1>Zaloga</h1>

  Dodajanje/Odstranjevanje/Pregled zaloge

  <div class="container" style="border:orange; border-width:5px; border-style:solid;width:100%;">

    <div class="row" style="border:orange; border-width:5px; border-style:solid;">
      <div class="col m3">
        <h6 style="text-align:center">FILTRIRAJ</h6>
      </div>

      <form class="col m9">
        <form action="/isci">
          <label for="isci">Išči:
          </label> </p>
          <input type="text" id="isci" name="isci"><br><br>
          <input type="submit" value="potrdi">
        </form>
      </form>

    </div>



    <div class="row" style="border:orange; border-width:5px; border-style:solid;">



      <form action="#">





        <p>
          <label>
            <input type="checkbox" id="sku" name="sku">
            <span>SKU</span>

          </label>
        </p>




        <p>
          <label>
            <input type="checkbox" id="proizvajalcev_sku" name="proizvajalcev_sku">
            <span>
              Proizvajalčev SKU
            </span>

          </label>
        </p>



        <p>
          <label>
            <input type="checkbox" id="stil" name="stil">
            <span>Stil</span>

          </label>
        </p>



        <p>
          <label>
            <input type="checkbox" id="tip_barve" name="tip_barve">
            <span>Tip barve</span>

          </label>
        </p>



        <p>
          <label>
            <input type="checkbox" id="tip_velikosti" name="tip_velikosti">
            <span>Tip velikosti</span>

          </label>
        </p>



        <p>
          <label>
            <input type="checkbox" id="barva" name="barva">
            <span>Barva</span>

          </label>
        </p>



        <p>
          <label>
            <input type="checkbox" id="koda_barve" name="koda_barve">
            <span>Koda barve</span>

          </label>
        </p>



        <p>
          <label>
            <input type="checkbox" id="ime_barve" name="ime_barve">
            <span>Ime barve</span>

          </label>
        </p>



        <p>
          <label>
            <input type="checkbox" id="sortirni_red_barve" name="sortirni_red_barve">
            <span>Sortirni red barve</span>

          </label>
        </p>



        <p>
          <label>
            <input type="checkbox" id="koda_proizvajalca" name="koda_proizvajalca">
            <span>Koda proizvajalca</span>

          </label>
        </p>



        <p>
          <label>
            <input type="checkbox" id="cmyk" name="cmyk">
            <span>CMYK</span>

          </label>
        </p>



        <p>
          <label>
            <input type="checkbox" id="rgb" name="rgb">
            <span>RGB</span>

          </label>
        </p>



        <p>
          <label>
            <input type="checkbox" id="europska_stevilka_artikla" name="europska_stevilka_artikla">
            <span>Evropska številka artikla</span>

          </label>
        </p>



        <p>
          <label>
            <input type="checkbox" id="ime_proizvajalca" name="ime_proizvajalca">
            <span>Ime proizvajalca</span>

          </label>
        </p>



        <p>
          <label>
            <input type="checkbox" id="stevilo_v_paketu" name="stevilo_v_paketu">
            <span>Število v paketu</span>

          </label>
        </p>



        <p>
          <label>
            <input type="checkbox" id="stevilo_v_kartonu" name="stevilo_v_kartonu">
            <span>Število v kartonu</span>

          </label>
        </p>



        <p>
          <label>
            <input type="checkbox" id="velikost" name="velikost">
            <span>Velikost</span>

          </label>
        </p>



        <p>
          <label>
            <input type="checkbox" id="status" name="status">
            <span>Status</span>

          </label>
        </p>



        <p>
          <label>
            <input type="checkbox" id="teza" name="teza">
            <span>Teža</span>

          </label>
        </p>



        <p>
          <label>
            <input type="checkbox" id="ime_1" name="ime_1">
            <span>Ime</span>

          </label>
        </p>



        <p>
          <label>
            <input type="checkbox" id="ime_nemscina" name="ime_nemscina">
            <span>Ime (Nemščina)</span>

          </label>
        </p>



        <p>
          <label>
            <input type="checkbox" id="ime_anglescina" name="ime_anglescina">
            <span>Ime (Angleščina)</span>

          </label>
        </p>
    </div>
    <div class="col m1">

      <p>
        <label>
          <input type="checkbox" id="ime_cescina" name="ime_cescina">
          <span>Ime (Češčina)</span>

        </label>
      </p>





      <p>
        <label>
          <input type="checkbox" id="opis_materiala_nemscina" name="opis_materiala_nemscina">
          <span>Opis materiala (Nemščina)</span>

        </label>
      </p>



      <p>
        <label>
          <input type="checkbox" id="opis_materiala_anglescina" name="opis_materiala_anglescina">
          <span>Opis materiala (Angleščina)</span>

        </label>
      </p>



      <p>
        <label>
          <input type="checkbox" id="opis_materiala_cescina" name="opis_materiala_cescina">
          <span>Opis materiala (Češčina)</span>

        </label>
      </p>



      <p>
        <label>
          <input type="checkbox" id="opis_artikla_nemscina" name="opis_artikla_nemscina">
          <span>Opis artikla (Nemščina)</span>

        </label>
      </p>



      <p>
        <label>
          <input type="checkbox" id="opis_artikla_anglescina" name="opis_artikla_anglescina">
          <span>Opis artikla (Angleščina)</span>

        </label>
      </p>



      <p>
        <label>
          <input type="checkbox" id="opis_artikla_cescina" name="opis_artikla_cescina">
          <span>Opis artikla (Češčina)</span>

        </label>
      </p>




      <p>
        <label>
          <input type="checkbox" id="stran_kataloga" name="stran_kataloga">
          <span>Stran Kataloga</span>

        </label>
      </p>



      <p>
        <label>
          <input type="checkbox" id="cena" name="cena">
          <span>Cena</span>

        </label>
      </p>



      <p>
        <label>
          <input type="checkbox" id="izvor" name="izvor">
          <span>Izvor</span>

        </label>
      </p>



      <p>
        <label>
          <input type="checkbox" id="vrsta" name="vrsta">
          <span>Vrsta</span>

        </label>
      </p>


      </form>

    </div>
  </div>
  <div class="col m9">
    <p style="text-align:center">hahaha</p>
  </div>

  </div>








</body>

</html>