<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h1>Zgodovina Nakupov</h1>
    
    <table>
        <tr>
            <th>Datum</th>
            <th>Artikli</th>
            <th>Skupna Cena</th>
        </tr>
        % for transakcija in zgodovina:
            <tr>
                <td>{{ transakcija['datum'] }}</td>
                <td>
                    <ul>
                        % for izdelek, podatki in transakcija['kosarica'].items():
                            <li>{{ izdelek }} ({{ podatki['kolicina'] }} kosov) (Cena: {{podatki['cena']}}€)
                                <form action="/oceni_artikel/{{ izdelek }}" method="post">
                                    <input type="number" name="ocena" id="ocena_{{ izdelek }}" min="1" max="5" required>
                                    <button type="submit">Oceni</button>
                                </form>

                            </li>
                        % end
                    </ul>
                </td>
                <td>{{ transakcija['skupna_cena'] }} €</td>
            </tr>
        % end
    </table>
    <a href="/">Nazaj na glavno stran</a>
</body>
</html>
